include CHANGELOG.rst
include LICEN[CS]E*
include pyproject.toml
include README.rst
include requirements*.txt
include templates/*

global-exclude *.py[co]
global-exclude __pycache__
global-exclude *~
global-exclude *.ipynb_checkpoints/*
